---
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';
import { getAlbums } from '../utils/sanity';

const albums = await getAlbums();
---

<Layout title="Portfolio">
  <section class="cards-container">
    {
      albums.length ? (
        albums.map((album) => <Card album={album} />)
      ) : (
        <p>No hay álbumes disponibles.</p>
      )
    }
  </section>
</Layout>

<style>
  .cards-container {
    /* display: grid;
    gap: 0.4rem;
    margin: 0 auto;
    padding: 0.4rem; */

    width: 100vw;
    columns: 2;
    column-gap: 0.4rem;
    margin: 0 auto;
    padding: 0.4rem;
  }
  @media (min-width: 800px) {
    .cards-container {
      columns: 4;
    }
  }
</style>
