---
import { urlFor } from '../utils/image';
import type { Album } from '../utils/sanity';

interface Props {
  album: Album;
}

const { album } = Astro.props;
---

<a class="card" href={`/album/${album.slug.current}`}>
  {
    album.coverImage ? (
      <img
        class="card__cover"
        src={urlFor(album.coverImage).width(500).url()}
        alt={album.coverImage.alt || ''}
      />
    ) : (
      <div class="card__cover--none" />
    )
  }
</a>

<style>
  .card {
    margin: 0;
    padding: 0;
    text-decoration: none;
    /* Cada tarjeta tomará la altura natural de su contenido */
  }
  .card__cover {
    width: 100%;
    height: auto; /* La imagen se ajusta según su proporción natural */
    object-fit: cover;
    display: block;
    margin-bottom: 0.4rem;
  }
  /* Fondo para cuando no haya coverImage */
  .card__cover--none {
    width: 100%;
    height: 200px; /* Puedes ajustar este valor si lo deseas */
    background: #444;
  }
</style>
