/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap');
/* Variables CSS */
:root {
  --max-width: 1024px;

  --primary-color: #333;
  --secondary-color: #fefefe;
  --font-body: 'Carrois Gothic SC', sans-serif;

  --font-headings: 'Cinzel Decorative', serif;
}

/* Reset base */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: var(--font-body);
  color: var(--primary-color);
  background-color: var(--secondary-color);
  line-height: 1.6;
}

/* Opcional: Estilos para headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headings);
}
