/* Variables CSS */
:root {
  --max-width: 1440px;

  --primary-color: #444;
  --secondary-color: #fefefe;
  --font-body: 'Carrois Gothic SC', sans-serif;

  --font-headings: 'Cinzel Decorative', serif;
}

/* Reset base */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: var(--font-body);
  color: var(--primary-color);
  background-color: var(--secondary-color);
  line-height: 1.6;
}

/* Opcional: Estilos para headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headings);
}

h2 {
  font-size: 3rem;
  margin: 2rem 0;
  text-align: center;
  color: var(--primary-color);
}
